@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #131313;
  color: #e5e2e1;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hero-gradient {
  background: linear-gradient(to top, #131313 0%, rgba(19, 19, 19, 0.8) 20%, rgba(19, 19, 19, 0) 100%);
}

.side-gradient {
  background: linear-gradient(to right, #131313 0%, rgba(19, 19, 19, 0) 100%);
}

.genre-card-overlay {
  background: linear-gradient(180deg, rgba(19, 19, 19, 0) 0%, rgba(19, 19, 19, 0.9) 100%);
}
